<%- include('../partials/header.ejs') %>

<link rel="stylesheet" href="/css/tacostands/new.css">

<form action="/taco-stands" method="POST">
  
  <label class="aLabel" for="name"><u>Name: </u></label>
  <input type="text" name="name" id="name" class="gLabel" required>

  <label class="aLabel" for="city"><u>City: </u> </label>
  <input type="text" name="city" id="city" class="gLabel" required>
  
  <label class="aLabel" for="state"><u>State: </u> </label>
  <input type="text" name="state" id="state" class="gLabel" minlength="2" maxlength="2" style="text-transform: uppercase;" required>

  <label class="aLabel" for="crossroads"><u>Street Intersection: </u></label> 
  <div id="cr1">
    <input type="text" name="crossroads" class="gLabel" required>
    <label class="aLabel" id="and">&</label>
  </div>

  <input type="text" name="crossroads" id="cr2" class="gLabel" required>

  <label class="aLabel" for="price"><u>Price ($-$$$):</u> </label>
  <input type="text" name="price" id="price" class="gLabel" pattern="^\$\$?\$?" required>

  <label class="aLabel" for="day"><u>Days Open: </u></label><br>
  <% let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
  <% days.forEach ((day) => { %>
    <div>
      <input class="gLabel" type="checkbox" name="day" value="<%= day %>" id="day"><%= day %>
    </div>
  <% }) %><br>

  <label class="aLabel" for="hour"><u>Hours Open to Close: </u></label><br>
  <div>
  <input type="number" name="hourFrom" id="hourFrom" min="'1" max="12" class="gLabel" required>
    <input type="radio" name="fromPeriod" id="fromam" value="am" class="gLabel" required> am
    <input type="radio" name="fromPeriod" id="frompm" value="pm" class="gLabel" required> pm
    <label class="aLabel" id="to" for="to"> </label>
  </div>
  <div>
  <input type="number" name="hourTo" id="hourTo" min="'1" max="12" class="gLabel" required>
    <input type="radio" name="toPeriod" id="toam" value="am" class="gLabel" required> am
    <input type="radio" name="toPeriod" id="topm" value="pm" class="gLabel" required> pm
  </div>

  <button type="submit">Add Taco Stand</button>

</form>


<%- include('../partials/footer.ejs') %>