<%- include('../partials/header.ejs') %>

<form action="/taco-stands" method="POST">
  
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" required>

  <label for="city">City: </label>
  <input type="text" name="city" id="city" required>

  <label for="price">Price ($-$$$): </label>
  <input type="text" name="price" id="price" required>

  <label for="day">Days Open: </label><br>
  <% let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
  <% days.forEach ((day) => { %>
    <div>
      <input type="checkbox" name="day" value="<%= day %>" id="day"><%= day %>
    </div>
  <% }) %><br>

  <label for="hour">Hours Open: </label>
  <input type="number" name="hourFrom" id="hourFrom" min="'1" max="12" required>
  <div>
    <input type="radio" name="fromPeriod" id="fromam" value="am" required> am
    <input type="radio" name="fromPeriod" id="frompm" value="pm" required> pm
  </div>
  <label for="to">to </label>
  <input type="number" name="hourTo" id="hourTo" min="'1" max="12" required>
  <div>
    <input type="radio" name="toPeriod" id="toam" value="am"> am
    <input type="radio" name="toPeriod" id="topm" value="pm"> pm
  </div>

  <button type="submit">Add Taco Stand</button>

</form>


<%- include('../partials/footer.ejs') %>