<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PopTaco</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" type="image/jpg" href="../assets/images/logo.jpg" >
</head>

<body>
  <nav>
    <a href="/">🏠</a>
    <div>
    <a href="/taco-stands">All Taco Stands</a>
    <!-- Above renders whether signed in or not -->
     <% if (user) { %>
      <a href="/users">Our Community</a>
      <a href="/auth/sign-out">SIGN OUT</a>
      <span><%= user.username._id %></span>
     <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
      </div>
     <% } %>
  </nav>
  <main>
    <h1><%= title %></h1>