<%- include('./partials/header.ejs') %>

<link rel="stylesheet" href="/css/home.css">

<div class="container">
  <a href="/taco-stands" id="vat"><button>View all Taco Stands</button></a>
  <img src="/assets/images/logo.jpg" alt="PopTaco's logo of a taco" id="logo">
  <!-- Above renders whether signed in or not -->
  <% if (!user) { %>
    <div id="login">
      <a href="/auth/sign-up"><button>Sign Up!</button></a>
      <a href="/auth/sign-in"><button>Log In</button></a>
    </div>
  <% } else { %>
    <a href="/users"><button>Our Community</button></a>
  <% } %>
  
  <p id="tagline">Savor authentic tacos while supporting your community!</p>
</div>



<%- include('./partials/footer.ejs') %>
