<%- include('./partials/header.ejs') %>

<a href="/taco-stands" id="vat"><button>View all Taco Stands</button></a>
<!-- Above renders whether signed in or not -->
<% if (user) { %>
  <span><%= user.username._id %></span>
<% } else { %>
  <a href="/auth/sign-up"><button>Sign Up!</button></a>
  <a href="/auth/sign-in"><button>Log In</button></a>
<% } %>

<img src="/assets/images/logo.jpg" alt="PopTaco's logo of a taco" id="logo">

<div>Savor authentic tacos while supporting your community!</div>


<%- include('./partials/footer.ejs') %>
