body {
  background-color: lightpink;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  height: 60%;
}

h1 {
  padding: 1px;
  margin: 20px;
  text-align: center;
}

p {
  text-align: center;
}

#vat {
  justify-self: end;
}

#logo {
  max-width: 50vh;
  height: auto;
}

.container>div {
  grid-column: 3;
  justify-self: left;
}

@media (max-width: 640px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
}

button {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1.5vmin;
  border-radius: 1vmin;
  cursor: pointer;
  border: none;

  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
    font-size: 20px;
  }
}

#tagline {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  font-size: 24px;
}