body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Fredoka', sans-serif;
}

nav {
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin;
  font-size: 2vh;
  color: lightslategray;
  margin: 0;
}

footer {
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 2vmin;
  font-size: 2vh;
  color: lightslategray;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1vmin;
  border-radius: 1vmin;

  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
  }
}

footer .left {
  text-align: left;
  justify-self: start;
}

footer .center {
  text-align: center;
  justify-self: center;
}

footer .right {
  text-align: right;
  justify-self: end;
}

nav span {
  font-size: 2vmin;
  color: lightslategray;
}

#footer-logo {
  max-width: 5vh;
  max-height: auto;
}
