.details {
  display: grid;
  grid-template-columns: 50vh 50vh;
  grid-template-rows: auto;
  justify-content: center; 
  align-items: center; 
}

.reviews {
  display: grid;
  grid-template-columns: 50vh 50vh;
  grid-template-rows: auto;
  justify-content: center; 
  align-items: center; 
  padding: 10px;
}

body {
  background-color: lightpink;
}

.review-info {
  border: 1px solid black;
  padding: 10px;
  background-color: pink;
}

.comment {
  border: 1px solid black;
  padding: 10px;
  grid-column: 2;
  background-color: lightgray;
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login {
  text-align: center;
}

h3 {
  text-align: center;
  margin: 0;
}

button {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1.5vmin;
  border-radius: 1vmin;
  cursor: pointer;
  border: none;
  margin: 5px;
  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
    font-size: 20px;
  }
}

#price {
  text-align: center;
  font-size: 25px;
}

.editB-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.editR {
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
  color: slategray;
  background-color: white;
  border-radius: 1vmin;
  cursor: pointer;
  border: none;
  margin: 0; /* Remove additional margin */
}

.editR:hover {
  color: gray;
  background-color: lightslategray;
  color: white;
  font-size: 16px;
}

.rating {
  text-align: center;
}