body {
  background-color: lightpink;
}

.stands {
  display: grid;
  grid-template-columns: 50vh 50vh;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;

}

.stands>* {
  border: 1px solid black;
  padding: 10px;
  margin: 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: black;
}

.name {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
}

.header {
  text-decoration: underline;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 24px;
}

div {
  justify-content: center;
  text-align: center;
}

.new {
  text-align: center;
}

button {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1.5vmin;
  border-radius: 1vmin;
  cursor: pointer;
  border: none;

  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
    font-size: 20px;
  }
}

.noRating {
  font-size: 22px;
}