<%- include('../partials/header.ejs') %>

<form action="/taco-stands/<%= stand._id %>/reviews" method="POST">

  <label for="rating">Rating (0-5): </label>
  <input type="text" name="rating" id="rating">

  <label for="comment">Comment:</label>
  <textarea name="comment" id="comment" required></textarea><br>


  <button type="submit">Add Review</button>

</form>


<%- include('../partials/footer.ejs') %>