<%- include('../partials/header.ejs') %>

<% let userCreated = false; %>

<ul>
  <% stands.forEach((element) => { %>
    <% if (element.owner.toString() === user._id.toString()) { %>
      <% userCreated = true %>
    <% } %>
  <% }); %>

  <% stands.forEach((element) => { %>
    <% if (userCreated && element.owner.toString() === user._id.toString()) { %>
      <li>
        <a href="/taco-stands/<%= element._id %>"><%= element.name %></a>
      </li>
    <% } %>
  <% }) %>

  <% if (userCreated === false) { %>
    <p>This user has not created any Taco Stands.</p>
  <% } %>
 </ul>
    

<%- include('../partials/footer.ejs') %>
