<%- include('../partials/header.ejs') %>

<% if (stand) { %>
  <ul>
    <% stand.forEach((element) => { %>
      <li>
       <a href="/taco-stands/<%= stand._id %>"><%= element.name %></a>
      </li>
    <% }); %>
  </ul>
    
  <% } else { %>
    <p>This user has not created any Taco Stands.</p>
  <% } %>

<%- include('../partials/footer.ejs') %>
