<%- include('../partials/header.ejs') %>

<link rel="stylesheet" href="/css/users/show.css">

<% let userCreated = false; %>

  <% stands.forEach((element) => { %>
    <% if (element.owner.toString() === user._id.toString()) { %>
      <% userCreated = true %>
    <% } %>
  <% }); %>

  <% stands.forEach((element) => { %>
    <% if (userCreated && element.owner.toString() === user._id.toString()) { %>
      <a href="/taco-stands/<%= element._id %>" class="stands">- <%= element.name %></a>
    <% } %>
  <% }) %>

  <% if (userCreated === false) { %>
    <p class="stands">This user has not created any Taco Stands.</p>
  <% } %>

<%- include('../partials/footer.ejs') %>
